@import "tailwindcss";

:root {
  --color-gothic-bg: #1a1a2e;
  --color-castle-stone: #2d2d44;
  --color-mystic-gold: #ffd700;
  --color-blood-red: #8a0303;
  --color-ghost-white: #f8f8f2;
}

@theme inline {
  --color-gothic-bg: #1a1a2e;
  --color-castle-stone: #2d2d44;
  --color-mystic-gold: #ffd700;
  --color-blood-red: #8a0303;
  --color-ghost-white: #f8f8f2;
  --font-sans: var(--font-inter);
  --font-heading: var(--font-cinzel);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-gothic-bg);
  color: var(--color-ghost-white);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}





@keyframes flyCoin {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    top: 24px; /* Sağ üst köşeye gitmesi için */
    left: calc(100% - 24px); /* Sağ üst köşeye gitmesi için */
    transform: translate(-100%, 0) scale(0.3);
    opacity: 0;
  }
}

.animate-fly-coin {
  animation: flyCoin 0.8s ease-in-out forwards;
}